body {
    background-color: #fefae0;
}

h1 {
    background-color: #bc6c25;
    color: #fefae0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    font-size: 60px;
}

#recipe-list {
    background-color: #bc6c25;
    text-align: center;
}

a {
    color: #fefae0;
    font-weight: bold;
}

#airfryer {
    text-align: center;
}

#airfryer img {
    height: auto;
    width: 300px;
}

.recipe-img {
    text-align: center;
}

.recipe-img img {
    height: auto;
    width: 300px;
}